@font-face {
  font-family: "Bodoni-Roman", serif;
  src: url("./../../components/fonts/BodoniFLF-Roman.ttf") format("ttf");
}

@mixin Primary-font {
  font-family: Bodoni-Roman, serif;
}

@mixin BTN-style {
  button {
    -webkit-text-stroke: 1px black;
    text-decoration: none;
    background: transparent;

    width: 20vw;
    height: 8vh;
    font-size: 4rem;
    text-align: center;
    padding-bottom: 2%;
    color: white;
    border: 4px solid white;
    border-radius: 15px;

    &:active {
      border: 2px solid darken;
      font-size: 3.8rem;
    }
  }
}

@mixin BtnMotion {
  &:hover {
    color: rgba(96, 255, 0, 1);
    border: 4px solid rgba(96, 255, 0, 1);
  }
  &:active {
    -webkit-box-stroke: 1px black;
    -webkit-text-stroke: 1px black;
    box-shadow: -4px 4px rgba(0, 0, 0, 0.5);
    text-shadow: -4px 4px rgba(0, 0, 0, 0.5);
  }
}
