@import "./../variables";
@import "./../mixins";

.showcaseSection {
  display: flex;
  flex-direction: column;

  .row {
    display: flex;
    flex-direction: row;
    height: 50vh;
  }
}

.projectThumb {
  background-position: center;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 33.3%;
  height: 100%;

  .projectDetails{
    display:none;
  }

  &:hover {
    .projectDetails {
      background: rgba(73, 39, 2, 0.692);
      height: 70%;
      margin-top: 10%;

      display: flex;
      flex-direction: row;

      .iconBox {
        margin-top: 3%;
        margin-left: 2%;
      }

      .projectInfoBox {
        flex-direction: column;
        margin-top: 3%;

        h3 {
          font-size: 2rem;
          text-align: center;
          height: 10%;
          margin: 0;
          color: $primary-color;
        }

        .projectDesc {
          font-size: 1.5rem;
          color: white;

          p {
            height: 13.6vh;
            margin: 2%;
            margin-bottom: 0;
            text-align: center;
          }

          .language-type {
            height: 12%;
            width: 98%;
            margin-left: 1%;
            margin-right: 1%;
            margin-top: 2%;
            margin-bottom: 0;
            justify-content: center;
            display: flex;
            flex-direction: row;
            justify-content: center;

            img {
              width: 10%;
              height: auto;
              align-self: center;
              margin-left: 1%;
              margin-right: 1%;
            }
          }

          .btn-box {
            height: 8vh;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            vertical-align: center;

            button {
              background: transparent;
              border: 4px solid green;
              border-radius: 15px 15px;
              color: green;
              font-size: 2rem;
              height: 70%;
              margin: 1%;
              width: 50%;

              @include BtnMotion;
            }

            a {
              margin: 0;
              img {
                width: 100%;
                height: 100%;
                margin: 0;
                vertical-align: center;
              }
            }
          }
        }
      }
    }
  }
}
